* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(95, 196, 196);
    max-width: 300px;
    width: 100%;
    padding: 16px;
}

.campo {
    margin-bottom: 20px;
}


.campo label {
    display: block;
}

.campo input {
    background: none;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.container form button {
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}