@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #333;
    padding: 16px 0;
    color: #FFF;
}

body {
    background-color: #f0dcdc;
}

#contato {
    height: 65vh;
    margin-left: 5%;
}

.container li {
    display: inline;
    margin-left: 16px;
}

.container a {
    color: #FFF;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

main section .container {
    margin-top: 30px;
    max-width: 1150px;
    width: 100%;
   
}

main section .container img {
    width: 500px;
    box-shadow: 5px 5px 10px -5px #333;
}

main section .container li img {
    width: 40px;
    margin-left: -15px;
    margin-top: 7px;
    box-shadow: none;
}

main section .container h2 {
    margin-bottom: 2rem;
}

.container-mid {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem !important;
    margin-left: 6rem !important;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.container-mid div {
    display: flex;
    margin-top: 60px;
    margin-right: 5rem;
}

.container-mid form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-left: -6rem;
    border-radius: 10px;
    align-items: center;
    background-color: #d3d1d1;
    border: 1px solid #333;
}

.container-mid h3 {
    width: 300px;
    background-color: #333;
    color: aliceblue;
    padding: 7px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: -17px;
    text-align: center;
}

.container-mid form input {
    width: 200px;
    margin-top: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-color: #333;
}

.container-mid form input:focus, .container-mid form textarea:focus {
    outline: none !important;
}

.container-mid button {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: #FFF;
}

.container-mid button:hover {
    cursor: pointer;
    background-color: #686666;
}

.container-mid textarea {
    padding: 4px;
}

.container-mid textarea {
    background: none;
    border-radius: 10px;
    border-color: #333;
    margin-top: 10px;
}

.container-mid .redes h3 , .container-mid .end h3  {
    color: #333;
    background: none;
    display: flex;
}

.container-auxiliar {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 500px;
    margin-left: 2rem;
    padding: 2rem;
    margin-top: 40px !important;
}

.container-auxiliar .end , .container-auxiliar .end h3 , .container-auxiliar .redes , .container-auxiliar .redes  h3 {
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
    margin-top: -10px;
    width: 350px;
}

.container-auxiliar .redes img {
    margin-top: -4rem;
    margin-left: 5px;
    height: 24px;
    margin-bottom: 6rem;
}

.container-mid .end p {
    margin-left: 8px;
}

@media screen and (max-width: 500px) {

    header {
        display: flex;
        width: 100vw !important;
        font-size: 10px;
    }

    header li {
        font-size: 13px;
        margin-right: 10px;
    }

    main section .container img {
        width: 300px !important;
    }

    main section .container li img {
        width: 40px !important;
    }

    main section .container {
        display: flex;
        flex-direction: column !important;
        width: 300px;
    }

    .texto_loja {
        margin-top: 2rem;
    }

    #contato .container-mid, #contato .container-auxiliar {
        display: flex;
        flex-direction: column !important;
        margin-left: -6.3rem;
        width: 200px;
    }

    #contato .container-mid h2 {
        margin-left: -4rem;
    }

    .container-mid form {
        margin-left: -4rem;
        margin-top: -2rem;
    }

    h2 {
        width: 200px !important;
    }
}