@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --primary_font: 'Roboto', sans-serif;
    --secondary_font: 'Pacifico', cursive;
}

.navbar {
    background-color: #e15f41;
    font-family: var(--primary_font);
    font-weight: bold;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,.navbar-brand,.navbar-brand:hover {
    color: #fff;
}

.navbar-brand, #sobre h2, #sobre h3, #evento h2, #evento h3, #cardapio h2 {
    font-family: var(--secondary_font);
}

#sobre {
    background-color: #ebdfdc;
}

#sobre span, #evento span, #evento h3, #cardapio span {
    color: #e15f41;
}

#evento i {
    color: #000;
}

.navbar-toggler {
    background-color: #fffefe;
}


.nav-cardapio .nav-link.active {
    background-color: #e15f41;
}

.nav-cardapio .nav-link {
    color: #e15f41;
}