@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #eeeeee;
}

.container header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3868d6;
    color: #fff;
    padding: 10px;
    font-style: italic;
}

.container li {
    display: inline;
}

.container li a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
}

.container li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container main .sobre {
    margin: 0 auto;
    padding: 16px;
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.container main .sobre h2 , .produtos h2{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #3868d6;
    font-style: italic;
    font-weight: bold;
}

.container main .sobre img {
    width: 400px;
}

.produto {
    padding: 10px;
}

.produtos {
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
}

.container-produto {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.container-produto h3, .container-produto p {
    margin-bottom: 10px;
}

.container-produto img {
    margin-bottom: 10px;
    width: 100%;
}

.container-produto button {
    background: #3868d6;
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    border: none;
    width: 100%;
}
.container-produto button {
    cursor: pointer;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container main .sobre {
        display: block;
    }

    .container main .sobre img {
        width: 100%;
    }

    .container main .sobre h2 {
        margin-top: 25px;
    }

    .container-produto {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 640px) {
    .container main .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px;
    }

    .container main .sobre h2 {
        margin-top: 25px;
    }

    .container main .sobre img {
        width: 100%;
    }

    .produtos, .container-produto, .produto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 26px;
    }

    .container-produto button {
        width: 100%;
    }

    .container li {
        display: block;
    }

}